
  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div [ngStyle]="{backgroundImage:'url(./assets/stock.jpg)'}" [style.height.px]="570" class="row">
            
              <div class="col-lg-6" id="stock">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h3 text-white-900 mb-4">Welcome to Stock Exchange</h1>
                  </div>
                  <form class="user" [formGroup]="stockForm" (submit)="submitForm()">
                    <div class="form-group">
                      <input type="email" formControlName="name" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" >
                    </div>
                    <div class="form-group">
                      <input type="number" formControlName="price" class="form-control form-control-user" id="exampleInputPassword" >
                    </div>
                    <div class="form-group">
                        <input type="text" formControlName="stock" class="form-control form-control-user" >
                      </div>
                    <div class="form-group">
                      <!-- <div class="custom-control custom-checkbox small">
                        <input type="checkbox" class="custom-control-input" id="customCheck">
                        <label class="custom-control-label" for="customCheck">Remember Me</label>
                      </div> -->
                    </div>
                    <input class="btn btn-primary btn-user btn-block" type="submit" value="Submit"/>
                    <!-- <a href="index.html" class="btn btn-primary btn-user btn-block" >
                      Submit
                    </a> -->
                  </form>
                  <hr>
                 
                </div>
              </div>
               <!-- <div class="col-lg-6">
                 <img src="./assets/stock.jpg" alt="stock"/>
             </div>  -->
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>